<html>
  <head>
    <title>File uploader</title>
  </head>
  <body>
    <!-- Nav options -->
    <% if (locals.currentUser) {%>
    <h1>Welcome Back <%= currentUser.userName %></h1>
    <a href="/logout">Log out</a>

    <h3>File uploader</h3>
    <form method="post" action="/file" enctype="multipart/form-data">
      <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" />
      </div>

      <div>
        <label for="folder">Select Folder</label>
        <select name="folderId" required>
          <% folders.forEach((folder) => { %>
          <option value="<%= folder.id %>"><%= folder.name %></option>
          <% }) %>
        </select>
      </div>

      <div>
        <button>Submit</button>
      </div>
    </form>

    <h3>Folders</h3>
    <% if (locals.folders) {%> <% locals.folders.map((folder) => { %>
    <div><a href="/folders/<%= folder.id%>"><%= folder.name%></a></div>
    <%})%> <%}%>

    <div>
      <button onClick="location.href='/folders/new'">New Folder</button>
    </div>

    <h1>Upload Excel File</h1>
    <form action="/upload-excel" method="POST" enctype="multipart/form-data">
      <input type="file" name="excelFile" accept=".xlsx, .xls" required />
      <button type="submit">Upload and Process</button>
    </form>

    <% } else { %>
    <div><a href="/signup">Sign Up</a></div>
    <div><a href="/login">Log In</a></div>
    <%}%>
  </body>
</html>
